extends ../layout

block content
  .nav
    .navLeft
      a(href="https://twitter.com/" + id target="_blank") #{company}
    .navRight
      a(href="/profile") Edit Profile
      a(href="/create") Create Tweet
      a(href="/logout") Log Out
  .main
    h1 Create a Tweet
    form(method="post" action="/create")
      div
        label#urlLabel(for="url") Enter an article URL to get started: 
        br
        br
        div
          input(type="text" name="url" id="url" autofocus value=url)
        br
        br
      div
        input(type="submit" name="submit" id="submit" value="Get Hashtags")
      br
      br
      #results
        if suggestions
          for each in suggestions
            a.hashtag(href="#" id=each) ##{each}

  .sidebar
    p Preview and edit your Tweet:
    form(method="post" action="/tweet")
      textarea(id="prevWindow" name="preview" maxLength="138" cols="40")
        !{articleTitle}
      input(type="button" name="done" id="done" value="Preview Tweet")
    p#urlTrim !{urlTrim}
    p#charCount
    div#container
    div#foo
    script(src='/javascripts/dom.js'); 


      
    
