extends ../layout

block content
  .nav
    .navLeft
      a(href="https://twitter.com/" + id target="_blank") #{company}
    .navRight
      a(href="/profile") Edit Profile
      a(href="/create") Create Tweet
      a(href="/logout") Log Out
  .main
    h1 Create a Tweet
    form(method="post" action="/create")
      div
        label#url(for="url") Enter a URL to get started: 
        br
        br
        div
          input(type="text" name="url" id="url" autofocus value=url)
        br
        br
      div
        input(type="submit" name="submit" id="submit" value="Preview Tweet")
      br
      br
      #results
        if suggestions
          for each in suggestions
            a.hashtag(href="#" id=each) ##{each}

  .sidebar
    p Preview and edit your Tweet:
    textarea(id="prevWindow" name="preview" maxLength="138")
      !{articleTitle} 
    p !{urlTrim}
    p#charCount
    div#container
    //- a.twitter-share-button(href="https://twitter.com/share" data-count="none" data-size="large" id="tweet-container")
    
  script(src='/javascripts/dom.js'); 
      
    
