extends ../layout

block content
  script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .nav
    .navLeft
      a(href="https://twitter.com/" + id target="_blank") #{company}
    .navRight
      a(href="/profile") Edit Profile
      a(href="/create") Create Tweet
      a(href="/logout") Log Out
  .sidebar#profile
    h2 Profile
    form(action="/details" method="post")
      .login
        label(for="company") Company/Organization name:
        br
        input.profile(type="text" name="company" id="company" value=company)
        br
      .login
        label(for="description") Enter some key words for your company/organization, separated by commas (no spaces):
        br
        input.profile(type="text" name="description" id="description" value=description)
        br
      .login
        br
        input(type="submit" name="submit" id="details" value="Update profile details")
      if msg
        p= msg
    h3 Recently used hashtags (click to add to your brand profile): 
      #brand
    form#brandUpdate(action="/brand" method="post")
      label(for="brand")
      br
      input(type="submit" name="brand" id="brand" value="Update brand")
  .main#login

    h2 Login information
    form(action="/update" method="post")
      .login
        label(for="handle") Twitter handle:
          input(type="text" name="handle" id="handle" value=id)
      .login
        label(for="answer") Security question: where were you born?
          input(type="password" name="answer" id="answer" value=answer)
      .login
        label(for="password") Password (required to update login information):
          input(type="password" name="password" id="password")
      .login
        label(for="confirm") Retype password:
          input(type="password" name="confirm" id="confirm")
      .login
        input(type="submit" name="submit" id="loginSubmit" value="Update Login Information")
      if errors
        for message in errors
          p= message
      if msg
        p= msg
  script(src='/javascripts/profile_dom.js'); 
